[Unit]
Description=OrangeKVM Server

[Service]
Type=simple
ExecStartPre=/home/pi/orangekvm-server/setgpios.sh
ExecStart=sudo -u pi /home/pi/orangekvm-server/main.py
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
