
div.kbarea
{
    border-radius:5px;
    padding: 2px;
}
button.key
{
    border:1px solid;
    border-radius:5px;
    padding: 0px;
    text-align: center;
    box-shadow: 0 2px #999;
    transform: translateY(-2px);
    background-color: "#F0F0F0";
    color: "#000000";
}
button.activekey {
    box-shadow: 0 0px #666;
    transform: translateY(0px);
    background-color: "#5599FF";
    color: "#FFFFFF";
}
button.key:active {
    background-color: "#CCCCCC";
    color: "#FFFFFF";
}